<! DOCTPYE html>

<html>
	<head>
		<title>Freezer: Find your dream date</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/endit.css")">
	</head>
	<body>
	<div id="content">
		<h1>Have fun and find your Dream Date</h1>
		<div id="imgr"><image src="@routes.Assets.at("images/endscreen.png")"></div></br>
		Reservation number: X3kalew67r4</br>
		<div id="back"><a href="@routes.Application.index()">logout</a></div></br>
		<div id="bttn"><a href="@routes.Application.timeandplace()">other</a></div>
	</div>
	</body>
</html>