<! DOCTYPE html>

<html>
	 <head>
        <title>Freezer: Find your dream date</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/payforit.css")">
    </head>
    <body>
        <div id="content">
        	<h1>Select pay method</h1></br>
        	</br><div id="sum">Your Date and Ticket costs EURO 43,90</div></br></br>
        	<div id="ppl"><image src="@routes.Assets.at("images/minilogo-paypal.gif")"></div> Paypal</br>
        	<div id="cash"><image src="@routes.Assets.at("images/barzahlung.jpg")"></div>
        	Cash payment</br>
        	
        	<div id="bttn"><a href="@routes.Application.endit()">pay</a></div>
        	<div id="back"><a href="@routes.Application.selectDate()">back</a></div>	
       	</div>
    </body>
</html>
	