<!DOCTPYE html>
<html>
    <head>
        <title>Freezer: Find your dream date</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/persData.css")">
    </head>
    <body>
        <div id="content">
        	<div id="directlink"><a href="@routes.Application.index()">home</a></div>
        	<h1>Please enter Information</h1></br>
        	</br>
        	Interests:</br>
        	<div id="hobbies">baby cats</div></br>
        	age:</br>
        	<div id="age">23</div></br>
        	gender:</br>
        	<div id="gen">male</div></br>
        	from:</br>
        	<div id="fromform">Tirol</div></br>
        	<div id="bttn"><a href="@routes.Application.timeandplace()">sign in</a></div>
        	
        	
        </div>
    </body>
</html>