<! DOCTYPE html>

<html>
	 <head>
        <title>Freezer: Find your dream date</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/register.css")">
    </head>
    <body>
        <div id="content">
        	<div id="directlink"><a href="@routes.Application.index()">home</a></div>
        	<h1>Please enter your Username and Password</h1></br>
        	</br>
        	Username:</br>
        	<div id="usrname">smartguy</div></br>
        	E-Mail:</br>
        	<div id="emil">derdude"at"what.ever</div></br>
        	Password:</br>
        	<div id="passwrd">*******</div></br>
        	confirm Password:</br>
        	<div id="confirmit">*******</div></br>
        	<div id="bttn"><a href="@routes.Application.persData()">enter</a></div>
        	
        	
        </div>
    </body>
</html>
	