<! DOCTYPE html>

<html>
	<head>
        <title>Freezer: Find your dream date</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/selectDate.css")">
    </head>
    <body>
        <div id="content">
        	<div id="logout"><a href="@routes.Application.index()">logout</a></div>
        	<h1>Select Partner</h1></br>
        	</br>
        	<div id="scrolldiv">name: princess</br>
        	from: Tirol</br>
        	age: 20</br>
        	</br>
        	name: creepygranny</br>
        	from: Tirol</br>
        	age: 65</br>
        	</br>
        	name: dreamgirl</br>
        	from: Tirol</br>
        	age: 22</br></div>
        </div>
        <div id="back"><a href="@routes.Application.timeandplace()">back</a></div>
        <div id="bttn"><a href="@routes.Application.payit()">pay</a></div>
    </body>
</html>
	