<!DOCTPYE html>
<html>
    <head>
        <title>Freezer: Find your dream date</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signin.css")">
    </head>
    <body>
        <div id="content">
        	<div id="directlink"><a href="@routes.Application.index()">home</a></div>
        	<h1>Please sign in :)</h1></br>
        	</br>
        	Username:</br>
        	<div id="usrname">smartguy</div></br>
        	Password:</br>
        	<div id="passwrd">*******</div>
        	<div id="bttn"><a href="@routes.Application.timeandplace()">sign in</a></div>
        	
        	
        </div>
    </body>
</html>
	