<! DOCTYPE html>

<html>
    <head>
        <title>Freezer: Find your dream date</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/timenplace.css")">
    </head>
    <body>
        <div id="content">
        	<div id="logout"><a href="@routes.Application.index()">logout</a></div>
        	<div id="infos">ME</div>
        	<h1>Select time and place for your Date</h1></br>
        	</br>
        	Select Region:</br>
        	<div id="region">Woergl</div></br>
        	Select Lift:</br>
        	<div id="lift">Hausfeld 1</div></br>
        	Select Time:</br>
        	<div id="time">26.1.2014</div></br>
        	<div id="bttn"><a href="@routes.Application.selectDate()">find date</a></div>
        </div>
    </body>
</html>